body{
    background-color: #c9edee;
    color:#333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera{
    background-color: rgb(93, 26, 138);
    color:white;
    box-shadow: 0px 2px 20px 0px rgb(0,0,0,0.5);
    margin: 0px;
    font-weight: bold;
    padding:0.6em;
}
#cabecera #logo{
    width: 23px;
    vertical-align: middle; /* alinea el logo con el texto*/
    padding: 0 0 0 1em;
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container{
    width:70%;
    padding: 0px;
    text-align:left;
    border:1px solid rgba(77, 33, 97, 0.822);
    margin: 0 auto;
    background: white;
}   
#container h1{
    font-size: 20px;
    padding: 0 0 0 1em;
}
#container p{
    padding: 0 0 0 1em;
}
#footer{
    background: rgba(127, 93, 172, 0.959);
    color: rgb(255, 249, 249);
    text-align: center;
    padding: 0.5em;
}